<h1>Logging</h1>

<div *ngIf="!fileContent">
    <h5>{{logFilter}}</h5>
    <input type="text" [(ngModel)]="logFilter"> 
    <select name="range" (change)="onChange()" id="range">
        <option value="all">All</option>
        <option value="latest">Latest</option>
        <option value="10">10</option>
        <option value="20">20</option>
    </select> <br/>
    <div class="inline" *ngFor="#log of logFiles|namefilter:logFilter|amountfilter:dropSelection" (click)="logClicked(log)">
    {{log}}

    </div>
</div>
<div *ngIf="fileContent">
    <button (click)="back()">back</button>
    <h5>filtering for content:{{contentFilter}} from line {{fromLine}} to {{toLine}}</h5>
    <input type="text" [(ngModel)]="contentFilter"><input type="text" [(ngModel)]="fromLine"><input type="text" [(ngModel)]="toLine">
    <div *ngFor="#line of fileContent|linefilter:fromLine:toLine|namefilter:contentFilter">
        {{line}}
    </div>

</div>
