/*********************************
GENERAL
**********************************/
.title{
	font-size: 2em;
	text-align: center;
	margin: 1em;
}
/*********************************
FONT
**********************************/
@font-face{
    font-family: 'PT Sans';
    src: url('../font/PT_Sans.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}
/*********************************
BODY
**********************************/
body{
    margin: 0;
    font-family: 'Pt Sans', sans-serif;
    color: #454545;
    font-size: 12pt;
}
a{
    color: #454545;
    text-decoration: none;
}
a:hover{
    color: #989898;
}
/**************************
HEADER
**************************/
header{
    border-top: 10px solid #454545;
}
/**************************
FOOTER
**************************/
footer {
    font-size: 0.75em;
    color: #ccc;
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
}
/*********************************
SIDENAV
**********************************/
.sideNav {
    height: 100%;
    width: 0; 
    position: fixed;
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #fff; 
    overflow-x: hidden; 
    padding-top: 5.5em; 
    transition: 0.5s;
    border-top: 10px solid #454545;
}
.sideNav a {
    padding: 0.6em 0.6em 0.6em 2em;
    font-size: 1.5em;
    display: block;
    transition: 0.3s
}
.sideNavIcon{
    width: 5%;
    padding: 0.3em 0 0 0.7em;
    font-size: 2em;
    color: #454545;
}
.sideNavIcon:hover{
    color: #989898;
}
.closeBtn {
    position: absolute;
    top: 0;
    right: 0.2em;
    font-size: 2em !important;
    margin-left: 4.5em;
}
/*********************************
LOGO
**********************************/
.logo{
	width: 100%;
    height: auto;
    margin: 1em auto 2em auto;
}
/*********************************
MAIN
**********************************/
#mainMenu{
	margin: 1em 1em 0 1em;
	overflow: auto;
	display:block;
	font-size: 1.5em
}
.mainMenuDiv{
	padding: 0.5em 0 0.5em 0.5em;
	height: 40%;
	width: 45.5%;
	float: left;
}
.text{
    text-align: center;
    padding: 0.25em 0 0.25em 0;
}
#leftUp{
	border-left: 2px solid #e1e1e1;
	border-top: 2px solid #e1e1e1;
	border-right: 2px solid #e1e1e1;
}
#rightUp{
	border-top: 2px solid #e1e1e1;
	border-right: 2px solid #e1e1e1;
}
#leftLow{
	border-left: 2px solid #e1e1e1;
	border-top: 2px solid #e1e1e1;
	border-bottom: 2px solid #e1e1e1;
}
#rightLow{
	border: 2px solid #e1e1e1;
}

/*********************************
TEMPERATURE DISPLAY
**********************************/

.tempList{
	list-style: none;
	background-color: #fff;
}

.tempList li{
	text-align: center;
}

/*********************************
LIGHT
**********************************/
.allSliders{
    margin: 1em 1em 1em 1em;
    padding: 1em 1em 1em 1em;
}
.sliders{
    width:100%;
    font-size: 1.5em;
}
.column{
    float: left;
    width: 33%;
    text-align: center;
}
.sliderName{
    width: 30%;
    padding: 0.5em 0 0.5em 0;
}
.rangeAlign{
    width: 40%;
    padding: 0.5em 0 0.5em 0;
    text-align: center;
}
.sliderValue{
    width: 10%;
    padding: 0.5em 0 0.5em 1em;
}
.range{
    width: 100%;
}
/*********************************
CLOTHES
**********************************/
.chickenPic{
    width: 100%;
    height: auto;
    margin: 0 1em 0 1em;
}